/* Base App Styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For nav links */
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: red;
  transform: scale(1.1);
}

/* Button Styles */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
  border: none;
}

.btn-inverse {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.btn-inverse:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.btn-outline {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.btn-outline:hover {
  background-color: white;
  color: black;
  border: white;
  transform: scale(1.05);
}

/* Custom Button (Red Color) */
.btn1 {
  color: red;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  background-color: white; /* white background color */
  display: inline-block;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none; /* Remove any default border */
}

.btn1:hover {
  background-color: #e74c3c; /* Change to red color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Project Card Hover Effects */
.project-card {
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.project-card:hover {
  background-color: #4e4e4e;  /* Darker background color on hover */
  transform: translateY(-10px);  /* Slight lift effect on hover */
}

.project-card:hover h3 {
  color: red;  /* Change title color to red on hover */
}

.project-card:hover p {
  color: #ecf0f1;  /* Change text color to light gray/white on hover */
}

.project-card:hover a {
  color: #e74c3c;  /* Change link color to red on hover */
}

/* Keyframe for blinking effect */
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
